{{ define "main" }}
<section class="intro">
  {{ .Content }}
</section>
<section class="latest">
  <h2>Writing</h2>
  <ol class="list">
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections | first 5 }}
    {{ range $pages.ByPublishDate.Reverse }}
    <li>
      <p><time datetime="{{ .Date }}" class="subdued">{{ .Date.Format "Jan 02, 2006" }}</time> <span>&#8212;</span> <a href="{{ .RelPermalink }}">{{ .Title }}</a></p></li>
    {{ end }}
  </ol>
  <p class="right"><a href="/posts/">All posts >></a></p>
</section>

<section class="til">
  <h2>Things I've Learned</h2>
  <ol class="list">
    {{ $pages := where site.RegularPages "Type" "til" | first 5 }}
    {{ range $pages.ByPublishDate.Reverse }}
    <li>
      <p><time datetime="{{ .Date }}" class="subdued">{{ .Date.Format "Jan 02, 2006" }}</time> <span>&#8212;</span> <a href="{{ .Params.source }}" target="_blank">{{ .Title }}</a></p></li>
    {{ end }}
  </ol>
  <p class="right"><a href="/til/">More >></a></p>
</section>


{{ end }}
