:root {
    --bg: #fff;
    --fg: #4f4f4f;
    --theme: #00f;
    --muted: #8d8d8d;
}

body,
html {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--fg);
    font-family: serif;

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: calc(1rem + .1vw);
    line-height: 1.4;
    overflow-wrap: break-word;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 60ch;
    margin: 0 auto;
}

nav,
main,
footer {
    padding: 20px 10px;
}

section {
    margin-bottom: 40px;
}

a {
    color: var(--theme);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    border-bottom: 1px solid var(--muted);
}

h1,
h2,
h3,
nav a {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -1px;
}

h1 {
    font-size: 1.4rem;
    margin: 0 0 .5rem 0;
}

h2 {
    font-size: 1.2rem;
    margin: 0 0 .5rem 0;
}

table {
    border-collapse: collapse;
}

td {
    vertical-align: top;
}

td:first-child {
    white-space: nowrap;
}

td:last-child {
    padding-left: 1em;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
}

li:hover {
    list-style-type: disc;
}

blockquote {
    padding-left: 1em;
    margin-left: 0;
    border-left: 2px solid var(--muted);
    font-style: italic;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    margin: 1em 0;
}

p img {
    max-width: 33%;
    float: right;
    margin: 0px 0px 15px 20px;
}

code {
    padding: 2px 5px;
    font-family: monospace;
    font-size: 0.9em;
    background-color: var(--bg);
    border-radius: 3px;
}

footer {
    margin-top: auto;
    padding-bottom: 0;
}

footer p {
    margin-bottom: 5px;
}

.right {
    text-align: right;
}

.smol {
    font-size: calc(1rem + .1vw);
}

.muted {
    color: var(--muted);
}

.italic {
    font-style: italic;
}

.copyleft {
    display: inline-block;
    transform: scale(-1, 1);
}

/* Photo grid styling */
.photo-grid {
list-style-type: none;
padding: 0;
margin: 0;
display: grid;
gap: 10px; /* Space between photos */
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive columns */
}

.photo-grid li {
overflow: hidden; /* Crop images to the grid item size */
position: relative;
}

.photo-grid img {
width: 100%;
height: 100%;
object-fit: cover;
cursor: pointer;
}

/* Overlay styles */
.overlay {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.8);
justify-content: center;
align-items: center;
z-index: 1000;
}

.overlay img {
max-width: 90%;
max-height: 90%;
}

.overlay .close {
position: absolute;
top: 20px;
right: 20px;
font-size: 30px;
color: white;
cursor: pointer;
}

#previewImage {
object-fit: contain;
max-width: 100%;
max-height: 100%;
width: auto;
height: auto;
}

hr {
    overflow: visible;
    box-sizing: content-box;
    width: 7em;
    margin-top: 3.5em;
    margin-bottom: 3em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}
