html {
background-color: #fff;
color: #444;
}

body {
display: flex;
flex-direction: column;
min-height: 100vh;
max-width: 30em;
margin: 0 auto;
font-family: "Lekton", monospace;
font-size: 1.2em;
line-height: 1.4;
}

header {
text-align: right;
}

header, main, footer {
padding: 10px;
}

footer {
margin-top: auto;
}

a {
color: rgb(255, 107, 1);
text-decoration: none;
}

nav a {
text-decoration: underline;
}

a:hover {
text-decoration: underline;
}

table {
border-collapse: collapse;
text-transform: capitalize;
}

td {
vertical-align: top;
}


h1 {
font-size: 1.8em;
text-transform: capitalize;
text-align: center;
font-weight: 400;
}

h2 {
font-size: 1.2em;
text-transform: capitalize;
font-weight: 700;
}

h3 {
margin: 0em;
font-size: 1.0em;
text-transform: capitalize;
font-weight: 700;
}

blockquote {
font-family: inherit;
margin: 0;
padding: 2em;
border: 2px solid #f0f0f0;
}

ul {
list-style-type: none;
padding: 0;
}

pre:has(code) {
background: #f1f1f1;
padding: 1em;
border-radius: 0.33em;
font-size: 16px;
overflow: scroll;
}

code {
text-transform: initial;
background-color: #f1f1f1;
border: 1px solid #f1f1f1;
border-radius: 0.33em;
padding: 0 3px;
}

.datetime {
padding-right: 1em;
}

.info {
color: green;
text-decoration: none;
}

.ghost {
text-align: center;
color: rgba(95, 95, 95, 0.25);
padding: 3em 0;
}

.meta {
color: #666;
}

.copyleft {
display: inline-block;
transform: rotate(180deg);
vertical-align: middle;
}

.til {
list-style-type: none;
padding: 0;
}
