:root {
  --fg: #444;
  --bg: #fff;
  --muted: #555;
  --accent: #00f;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--fg);
  background-color: var(--bg);
  padding: 0 1em;
  margin: 0 auto;
  line-height: 1.4;
  max-width: 30em;
  font-size: 18px;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

a {
  color: var(--accent);
}

blockquote {
  font-family: sans-serif;
  font-size: medium;  /* seems to look better */
  background: #EEE;  /* same color as pre */

  margin: 0;
  border-left: 10px solid #ccc;
  /* Only 1px vertical because <blockquote><p> produces "bulge" */
  padding: 1px 1em;
}

footer {
  margin-top: auto;
}

pre {
  overflow: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  text-decoration: underline;
}

.right {
  text-align: right;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.info {
  color: var(--muted);
  font-style: italic;
}

.list .info {
  padding-right: 1em;
}

section.intro {
  text-align: center;
}