:root {
  --fg: #1b1b1b;
  --bg: #f0efd1;
  --muted: #555;
  --accent: #00f;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--fg);
  background-color: var(--bg);
  padding: 0 1em;
  margin: 0 auto;
  line-height: 1.4;
  max-width: 30em;
  font-family: sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

a {
  color: var(--accent);
}

blockquote {
  font-size: 16px;
  background: #EEE;
  margin: 0;
  border-left: 10px solid #ccc;
  padding: 1px 1em;
}

footer {
  margin-top: auto;
}

pre {
  overflow: auto;
}

figure {
  margin: 2em 0;
}

img {
  max-width: 100%;
}

figcaption h4 {
  font-size: 14px;
  color: var(--muted);
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  text-decoration: underline;
}

.right {
  text-align: right;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.info {
  color: var(--muted);
  font-size: 16px;
  font-style: italic;
}

.list .info {
  padding-right: 1em;
}

section.intro {
  text-align: center;
  color: var(--muted);
}

.poetry {
  list-style-type: none;
  padding: 0;
}

.indent4 {
  text-indent: 4ch;
}
